@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
*{
  margin:0;
  padding:0;
}
html{
  scroll-behavior:smooth;
}
.navbar{
  width:100vw;
  /* height:15vh; */
  height:85px;
}
.social.active{
  background-color:#4267B2;
  color:white;
}
.menu.inactive{
  display:none;
}
.menu{
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  opacity:0.8;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:black;
  z-index:2;
  cursor:pointer;
}
.menu ul {
  position:absolute;
  top:50%;
  left:50%;
  font-size:1.03rem;
  list-style:none;
  color:white;
  transform:translate(-50%,-50%);
 
}
.menu ul li:hover{
  background:black;
  opacity:0.4;
}
.menu .cross{
  text-align:right;
  margin-right:10px;
}
.menu .cross i{
  color:white;
  font-size:50px;
  margin-top:15px;
}
.menu ul li a{
  text-decoration:none;
  color:white;
  font-family: 'Titillium Web';
}
.menu li{
  margin-top:50px;
  text-align:center;
  text-transform:uppercase;
}

.social{
  display:flex;
  position:fixed;
  justify-content:space-between;
  align-items:center;
  background:#eee;
  height:80px;
  width:100%;
  font-size:40px;
  box-shadow:1px 1px 10px 3px black;
}
.social a{
  text-decoration:none;
  font-size:2.7rem;
  margin-left:10px;
  color:inherit;
}
.info img{
  background-size:cover;
  width:100%;
  height:100%;
}
.info{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  overflow:hidden;
}
.my-text{
  font-size:1.5rem;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
 font-family: 'Titillium Web';
 justify-content:center;
 align-items:center;
 margin-right:20px;
 margin-left:20px;
}
.my-text{
  text-align:center;
}
.name{
  background-color:#4267B2;
  color:white;
  text-align:center;
  padding-bottom:20px;
  padding-top:10px;
}
.name h4{
  font-size:1.5rem;
  font-family: 'Titillium Web';
}
.name .name-info{
  font-family: 'Titillium Web';
}
.social .icon i{
  margin-left:10px;
}

.hamburges i{
 margin-right:10px;
}

/* Skill */
.sk1,.sk2,.sk3,.sk4,.sk5,.sk6,.sk7,.sk8{
  background:#4267B2;
  color:white;
  text-align:center;
  height:100%;
  width:100%;
}
.skill{
  display:grid;
  margin-top:40px;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  grid-gap:10px;
  background:#eee;
  align-items:center;
}
.sk1,.sk2,.sk3,.sk4,.sk5,.sk6,.sk7,.sk8,i{
  font-size:40px;
  font-family: 'Titillium Web';
}
.sk1,.sk2,.sk3,.sk4,.sk5,.sk6,.sk7,.sk8, p{
  font-size:30px;
}
.sk1,.sk2,.sk3,.sk4,.sk5,.sk6,.sk7,.sk8{
  box-shadow:1px 1px 4px 1px goldenrod;
}
.epskill,.add,.get{
  font-size:2rem;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:40px;
  color:gold;
  background-color:#4267B2;
  font-family: 'Titillium Web';
  
}

/* Get In Touch */
.form input,textarea {
  height:70px;
  width:99%;
  margin-top:20px;
  font-size:1.1rem;
  color:black;
  border:2px solid gold;
  font-family: 'Titillium Web';
  border-radius:5px;
}
.form textarea{
  height:150px;
}
.form{
  display:grid;
  grid-template-rows:repeat(auto-fit,minmax(300px,1fr));
  align-items:center;
  grid-gap:10px;
}
.most,.further{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  grid-gap:5px;
}
.textarea input{
  height:200px;
}

.submit button{
  height:60px;
  width:100%;
  cursor:pointer;
  font-size:1.8rem;
  color:gold;
  background-color:#4267B2;
  margin-bottom:10px;
  font-family: 'Titillium Web';
}
.submit button:hover{
  background-color:green;
  color:red;
}
/* .form .name1{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

} */

/* Address */
 .footer{
   display:grid;
   grid-template-rows:repeat(auto-fit,minmax(300px,1fr));
   align-items:center;
   justify-content:center;
   margin-top:30px;
   background-color:#4267B2;
   color:gold;
   padding:20px;
   text-align:center;
 }

 .home p{
  font-size:1.5rem;
  width:100%;
 }
 .address{
   width:100%;
   font-family: 'Titillium Web';
 }
 .email-add a{
   text-decoration:none;
   color:gold;
   font-size:1.3rem;
   font-family: 'Titillium Web';
 }
 .copy-right i{
  font-size:1.4rem;
  text-align:center;
  width:100%;
 }
 .copy-right a{
  font-family: 'Titillium Web'; 
 }
 .social-media{
   display:flex;
   justify-content:space-around;
   width:100%;
   cursor:pointer;
 }
 .social-media a{
   text-decoration:none;
   color:gold;
   font-size:2.5rem;

 }
 /* Education */
 .edu{
   display:grid;
   grid-template-rows:repeat(auto-fit,minmax(300px,1fr));
   align-items:center;
   justify-content:center;
   text-align:center;
   margin-top:10px;
 }
.edu img{
  width:100px;
  height:100px;
}
 .college-info p{
 font-size:1.8rem;
 color:#4267B2;
 font-family: 'Titillium Web';
 }
 .college-info strong{
  font-size:1.5rem;
  color:#4267B2;
  font-family: 'Titillium Web';
 }
 .edu .school p{
  font-size:1.8rem;
  color:#4267B2;
  font-family: 'Titillium Web';
 }
 .edu .school strong{
  font-size:1.5rem;
  color:#4267B2;
  font-family: 'Titillium Web';
 }

 /* Achievement */

 .ach-info{
  display:grid;
   grid-template-rows:repeat(auto-fit,minmax(300px,1fr));
   align-items:center;
   justify-content:center;
   text-align:center;
   margin-top:10px;
   background-color:#4267B2;
 }
 .achieve p{
   color:white;
   font-size:1.2rem;
   font-family: 'Titillium Web';
 }
 .achieve h4{
   font-size:1.6rem;
   color:gold;
   font-family: 'Titillium Web';
 }

 /* certificate */
 .main-certi{
   display:grid;
   grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
   grid-gap:18px;
   margin-top:20px;
 }
 .certi img{
   width:100%;
   height:100%;
   background-size:cover;
 }

 .certi:hover{
   transform:scale(1.2);
   transition-duration:1s;
   overflow:hidden;
 }
 /*-----------------------------* media  ------------------------------*/
 @media(min-width:768px){
  
  /* footer */
  .email-add a{
    font-size:2.5rem;
  }
  .social-media a{
   font-size:4rem;
  }
  .email-add i{
    font-size:4rem;
  }
  .home i{
    font-size:4rem;
  }
  .home p{
    font-size:2.5rem;
  }
  .copy-right i{
    font-size:4rem;
  }
  .copy-right a{
    font-size:2.5rem;
  }
  /* About */
  .my-text,.name-info{
    font-size:1.5rem;
   
  }
  .name h4{
    font-size:2rem;
  }
  .menu ul {
    font-size:2rem;
  }
  /* education */

  .college-info p{
    font-size:3rem;
    
    }
    .college-info strong{
     font-size:2rem;
    
    }
    .edu .school p{
     font-size:3rem;
   
    }
    .edu .school strong{
     font-size:2rem;
    }
    /* achievement */
    .achieve p{
      font-size:2rem;
    }
    .achieve h4{
      font-size:3rem;
    }

    /* skill */
    .sk1,.sk2,.sk3,.sk4,.sk5,.sk6,.sk7,.sk8,i{
      font-size:4rem;
    }
   /* Get int touch */
   
   .submit button{
    height:80px;
  }
 .most,.further{
   display:grid;
   grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
 }
 }